<!DOCTYPE html>
<html>
  <head>
    <title>Occupations Table</title>   
  </head>

  <body>
    <h1><center>The following is a table that contains information regarding
      various occupations in the United States.</center></h1>
  <table align = "center" border = "1">
{% for key, value in foo.iteritems() %}
<tr>
<th> {{key}} </th>
<td> {{value}} </td>
</tr>
{% endfor %}
  </table>
  <br>
    <p><center>Randomly selected occupation: </p></center>
    <h1><center> {{woo}} </h1></center>
  </body>
</html>
